


<script type="text/javascript" >
  function message(content,id,parent_id,depth,position_x)
{
  this.content=content;
  this.id=id;
  this.parent_id=parent_id;
  this.depth=depth;
  this.position_x=position_x;
}


//employee.prototype.salary=null;
//fred.salary=new Number(20000);
//var str1= (fred.salary).toString();
//var ofer1 = new Number(0);
var content;
var id;
var parent_id;
var position_x;
var depth;

var m;

var aOfer = [];
var counter=0;
<% @messages.each do |message| %>
  content =   '<%=  escape_javascript( message.content.chop) %>' ;

  id =   <%=   message.id.to_i %> ;
  parent_id  =   <%=  if message.parent_id; message.parent_id.to_i; else; -1; end %>;
    depth      = <%= message.y.to_i %>;
    position_x=   <%= message.ab_x.to_i %>  ;

    m=new message(content,id,parent_id,depth,position_x);

    console.log(m);
    aOfer.push(m);
    //console.log(aOfer[counter].toString()  );


    counter= counter+1;
  <% end %>

 // init();
  </script>


<!--
   -
   -  <div id="launcher" style="padding-top: 100px; text-align: center">


    <span style="cursor:pointer" onclick="start( 0 );">START</span>

   -->
  </div>



