<% content_for :head do %>

         

    <%= stylesheet_link_tag "style1" %>

    <%= javascript_include_tag :defaults %>                       
        <%= javascript_include_tag "js1/Modernizr.js", "js1/RequestAnimationFrame.js","js1/Three.js","js1/Surface.js"  %>

    <!-- Analytics -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-13024693-3']);
        _gaq.push(['_trackPageview']);

        (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
         </script>
        
<% end %>





















<% content_for :body do %>

             <div id="container">

            <a href="http://aerotwist.com" title="Back to Aerotwist"><span>&larr;</span>Back to Aerotwist</a>

        </div>

                
   <div id='example2' width="145" height="100" background-color="#fff000">
     </div>

      <%= render "jstuff" %>
   
   
        <% title "Messages" %>
   
   
       <%= render "example3" %>       
       <!--
          -<%= render "example2" %>       
          -->

  <div id='railstuff1' >

    <%= nested_messages @messages.arrange(:order => :created_at) %>


    <%= render "form" %>    



    <h1>Listing messages</h1>

    <table>
      <tr>

        <th>Content</th>
        <th>id</th>

        <th>parent_id</th>
        <th>x_offset</th>
        <th>y_offset</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @messages.each do |message| %>
        <tr>

          <td><%= message.content %></td>
          <td><%= message.id %></td>

          <td><%= message.parent_id %></td>

          <td><%= message.x %></td>
          <td><%= message.y %></td>
          <td><%= link_to 'Show', message %></td>
          <!--
             -<td><%= link_to 'Edit', edit_message_path(message) %></td>
             -->
          <!--
             -<td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
             -->
        </tr>
      <% end %>
    </table>


  </div>





<% end %>     



