<% content_for :head do %>


         




         

             

         
             <%= stylesheet_link_tag "application" %>
             
             <!--
                -<%= render "example5h" %>       
                -->

    
<% end %>


















       
<% content_for :body do %>

        <% title "Messages" %>
        

    <!--                 
       -width="145" height="100" background-color="#fff000"
       -->
                
 
  <div id='container0'  class="container0"  >
     </div>             

      <%= render "jstuff" %>
   
   

   
   
          <%= render "example5b" %>       
        

  <div id='railstuff1' >

    <%= nested_messages @messages.arrange(:order => :created_at) %>




    <h1>Listing messages</h1>

    <table>
      <tr>

        <th>Content</th>
        <th>id</th>

        <th>parent_id</th>
        <th>ab_x</th>
        <th>y_offset</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @messages.each do |message| %>
        <tr>

          <td><%= message.content %></td>
          <td><%= message.id %></td>

          <td><%= message.parent_id %></td>

          <td><%= message.ab_x %></td>
          <td><%= message.y %></td>
          <td><%= link_to 'Show', message %></td>
          <!--
             -<td><%= link_to 'Edit', edit_message_path(message) %></td>
             -->
          <!--
             -<td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
             -->
        </tr>
      <% end %>
    </table>


  </div>




<% end %>     
 


