<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

   <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
    </div>
    <div class="field">
    <%= f.label :position_x %><br />
    <%= f.text_field :position_x %>
    </div> 
     <div class="field">
    <%= f.label :position_y %><br />
    <%= f.text_field :position_y %>
    </div> 
    <div class="field">
    <%= f.label :position_z %><br />
    <%= f.text_field :position_z %>
  </div>   
      


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
