<!DOCTYPE html>
<html>
  <head>
      <div class="myribbon">
        <a href="http://github.com/brownman/once_upon_a_time.rb">
          <span>Fork me on GitHub</span>
        </a>
      </div>                           
                 

       <!--
          -<%= stylesheet_link_tag "application" %>
          -->
    <!--
       -<%= csrf_meta_tag %>
       -->

    <!--
       -<%= javascript_include_tag :defaults %>
       -->

<!--
   -<%= javascript_include_tag  "credit_card" %>  
   -->
    
  <% if content_for?(:head) %>



    <%= yield(:head)  %>




    <% else     %>


          <!--
             -console.log("no content_for: head");
             -->
    <% end %>


  </head>  


    <body>
 
<% if content_for?(:body) %>
      <%= yield(:body) %>

    <% else   #default sidebar content...  %>
    
    <%= yield  %>
    <% end %>
    </body>

  </html>
