<!DOCTYPE html>
<html>
  <head>


    <%= stylesheet_link_tag :all %>
    <%= csrf_meta_tag %>

    
  <% if content_for?(:head) %>

    <%= javascript_include_tag :defaults %>

    <%= yield(:head)  %>




    <% else   #default sidebar content...  %>

      <%= javascript_include_tag :defaults %>


    <% end %>


  </head>  


    <body>
  
<% if content_for?(:body) %>
      <%= yield(:body) %>

    <% else   #default sidebar content...  %>
    
    <%= yield  %>
    <% end %>
    </body>

  </html>
